langchain[openai]
langchain[google-vertexai]
langchain-community 
langchainhub 
langgraph
pandas 
streamlit
langchain 
openai 
chromadb 
tiktoken 
tabulate 
sqlalchemy 
sqlalchemy-bigquery 
google-cloud-bigquery
google-cloud-bigquery-storage
redshift-connector
sqlalchemy-redshift
psycopg2-binary